doctype html
html(lang='en')
  head
    title
        | Site Response Times
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Serif:700|Roboto:400,300')

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
      
    body
      
      header
        | Adam's sites
        label
          | visualizing response times of my favorite sites

      section.responseTimes

      script(src="/js/jquery-min.js")
      script(src="http://d3js.org/d3.v3.min.js")
      script(src="/js/production-min.js")
